.vs/
LastFMExtractor.Application/bin/Debug/netcoreapp2.2/LastFMExtractor.Application.dll
LastFMExtractor.Application/bin/Debug/netcoreapp2.2/LastFMExtractor.Application.pdb
LastFMExtractor.Application/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.dll
LastFMExtractor.Application/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.pdb
LastFMExtractor.Application/bin/Debug/netcoreapp2.2/LastFMExtractor.Persistence.dll
LastFMExtractor.Application/bin/Debug/netcoreapp2.2/LastFMExtractor.Persistence.pdb
LastFMExtractor.Application/obj/Debug/netcoreapp2.2/LastFMExtractor.Application.csprojAssemblyReference.cache
LastFMExtractor.Application/obj/Debug/netcoreapp2.2/LastFMExtractor.Application.dll
LastFMExtractor.Application/obj/Debug/netcoreapp2.2/LastFMExtractor.Application.pdb
LastFMExtractor.Domain/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.dll
LastFMExtractor.Domain/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.pdb
LastFMExtractor.Domain/obj/Debug/netcoreapp2.2/LastFMExtractor.Domain.assets.cache
LastFMExtractor.Domain/obj/Debug/netcoreapp2.2/LastFMExtractor.Domain.csproj.CoreCompileInputs.cache
LastFMExtractor.Domain/obj/Debug/netcoreapp2.2/LastFMExtractor.Domain.dll
LastFMExtractor.Domain/obj/Debug/netcoreapp2.2/LastFMExtractor.Domain.pdb
LastFMExtractor.Persistence/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.dll
LastFMExtractor.Persistence/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.pdb
LastFMExtractor.Persistence/bin/Debug/netcoreapp2.2/LastFMExtractor.Persistence.dll
LastFMExtractor.Persistence/bin/Debug/netcoreapp2.2/LastFMExtractor.Persistence.pdb
LastFMExtractor.Persistence/obj/Debug/netcoreapp2.2/LastFMExtractor.Persistence.assets.cache
LastFMExtractor.Persistence/obj/Debug/netcoreapp2.2/LastFMExtractor.Persistence.csprojAssemblyReference.cache
LastFMExtractor.Persistence/obj/Debug/netcoreapp2.2/LastFMExtractor.Persistence.dll
LastFMExtractor.Persistence/obj/Debug/netcoreapp2.2/LastFMExtractor.Persistence.pdb
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.Application.dll
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.Application.pdb
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.deps.json
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.dll
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.dll
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.Domain.pdb
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.pdb
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.Persistence.dll
LastFMExtractor/bin/Debug/netcoreapp2.2/LastFMExtractor.Persistence.pdb
LastFMExtractor/obj/LastFMExtractor.csproj.nuget.cache
LastFMExtractor/obj/LastFMExtractor.csproj.nuget.g.props
LastFMExtractor/obj/project.assets.json
LastFMExtractor/obj/Debug/netcoreapp2.2/LastFMExtractor.assets.cache
LastFMExtractor/obj/Debug/netcoreapp2.2/LastFMExtractor.csproj.CoreCompileInputs.cache
LastFMExtractor/obj/Debug/netcoreapp2.2/LastFMExtractor.csproj.FileListAbsolute.txt
LastFMExtractor/obj/Debug/netcoreapp2.2/LastFMExtractor.csprojAssemblyReference.cache
LastFMExtractor/obj/Debug/netcoreapp2.2/LastFMExtractor.dll
LastFMExtractor/obj/Debug/netcoreapp2.2/LastFMExtractor.pdb
*.cache
LastFMExtractor.Application/bin/ 
LastFMExtractor.Application/obj/
